<div class="lower-third">
  <div class="slide">
    <div class="slide-item" [style.font-size]="fontSize" [style.font-family]="fontFamily">
      {{currentSlides[activeSlide]?.text}}
    </div>
  </div>
</div>
